
        <div class="flash-box"></div>
       <% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 h-14   flash" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= success %>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 h-14   flash" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <%= error %>
    </div>
<% } %>
    </div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegitable Website</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
     
    


    <!-- lightbox popup -->
     <link rel="stylesheet" href="css/lightbox.css">
     

     <!-- bootstrap 5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- fontAwsome 5 CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/responsive-style.css">
    
</head>


<body class="login">

     <!-- navbar section start -->
     <header id="full_nav">
        <div class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg ">
                    <!-- <div class="container-fluid"> -->
                      <a class="navbar-brand" href="#">
                        <img src="./images/logo.png">
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <i class="fa-solid fa-bars navbar-toggler-icon"></i>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="index">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="product">Product</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " href="gallery" >Gallery</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " href="contect" >Contect</a>
                          </li>
                            <li class="nav-item">
                            <a class="nav-link " href="signup" >Sign Up</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link active " href="login" >Login</a>
                          </li>
                            <a class="nav-link" href="cart"><i class="fa-solid fa-cart-shopping icon1"></i></a>
                          </li>
                        </ul>
                        <li class="nav-item">
                          <a class="nav-link"></a>
                        </li>
                        <div class="header_right">
                            <div class="text-lg-end">
                                <span>Call us!</span>
                                <span class="phon-no">+91 9410464794</span>
                            </div>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
     </header>
    <!-- navbar section End -->




     <!-- banner section start -->
    <section class="banner_section">
      <div class="container">
          <div class="banner-content">
              <h1>
                  Welcome Back! &#128523;
                  <br>
                  Login Now 
              </h1>
              <h2>Nature's Best At Your Doorstep</h2>
              <h4>"Pure , Fresh , Delicious"</h4>
              
          </div>
      </div>
  </section>
  <!-- banner section end -->

    <div class="product-section"></div>
        <div class="container">
          <div class=" row justify-content-center ">
            <div class="col-12 text-center pb-5 con">
              <h2 class="section-title">"Freshness at Your Doorstep, One Click Away!"</h2>
              <p class="section-subtitle">Welcome to TazZA, where we bring the farm to your table! Enjoy the convenience of fresh food, vegetables, and juices delivered straight to your home. Create an account to experience quick, easy, and fresh deliveries."</p>
            </div>
          </div>
        </div>
       </div>

    <div class="form-card ">
      
       <form action="/login" method="POST">
        <h3>Login</h3>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" >

            <label for="email">Email</label>
            <input type="email" id="email" name="email" >

             <label for="mobile">Mobile</label>
            <input type="number" id="mobile" name="mobile">

             <label for="location">Location</label>
            <input type="text" id="location" name="location">

             <label for="password">Password</label>
            <input type="password" id="password" name="password" >

            <button type="submit" class="btn main-btn">Login</button>
            
            <p>Don't Have Account ? <a href="signup">Sign Up</a></p>
         </form>
    </div>

  
    

     <!-- footer section start -->
     <section class="footer_wrapper mt-3 mb-md-0">
        <div class="container px-5 px-lg-0">
          <div class="row">
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
              <h5>TazZA</h5>
              <p class="mb-4 ps-0 company_detail">Company Detail  :-> 
                  Our mission is to deliver the freshest food, vegetables, and juices straight to your doorstep, ensuring quality and convenience for our customers.
              </p>
              <div class="contact-info">
                <ul class="list-unstyled">
                  <li><a href="#"><i class="fa fa-home me-3"></i>No.71 Mohalla Chhanga Darwaza Amroha</a></li>
                  <li><a href="#"><i class="fa fa-phone me-3"></i>+91 9410464794</a></li>
                  <li><a href="#"><i class="fa fa-envelope me-3"></i>mdaabidali28@gmail.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
              <h5>Customer Support</h5>
              <ul class="link-widget p-0">
                <li><a href="about">About US</a></li>
                <li><a href="about">Privicy policy</a></li>
                <li><a href="about">Terms & Conditions</a></li>
                <li><a href="product">Product returns</a></li>
                <li><a href="contect">Wholesale Policy</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
              <h5>Quick Links</h5>
              <ul class="link-widget p-0">
                <li><a href="product">Product</a></li>
                <li><a href="contect">Contect</a></li>
                <li><a href="about">Terms & Conditions</a></li>
                <li><a href="product">Terms Of Use</a></li>
                <li><a href="index">accessories</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
              <h5>News Letter</h5>
              <div class="form-group mb-4">
                <input type="email" class="form-control bg-transparent" placeholder="Enter Your Email Here">
                <button type="submit" class="btn main-btn">Subscribe</button>
              </div>
              <h5>Stay Connected</h5>
              <ul class="social-network d-flex align-items-center p-0">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://x.com/641Aabid?t=3wozoDyp5zRiUaQJL6hXTA&s=09"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/aabidali641?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BLlzAW1wPTJmg%2Be87JeR6WA%3D%3D"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.youtube.com/@aabidali6418"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="container-fluid copyright-section ">
          <p>Copyright <a href="#">© TAZZA </a>All Rights Reserved</p>
        </div>
  
       </section>
      <!-- footer section End -->
  


    <!-- lightbox popup -->
 <script src="js/lightbox.js"></script>
 <!-- bootstrap 5 cdn -->
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
     <!-- custom js -->
      <script src="js/main.js"></script>
</body>

</html>